.border1 {
  margin-top: '2.0rem';

}

.color-nav {
  background-image: linear-gradient(-134deg, #2F23AE  0%, #A11AD7  92%, #C86DD7  100%);

}

.color-nav2 a {
  color:rgb(20, 240, 31);
  font-weight: 500; /** make little bolder and heavier **/
  font-size: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
